services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
		ports:
      - "32400:32400"
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
			- UMASK=000
      - VERSION=docker
      - PLEX_CLAIM= #optional
    volumes:
      - /volume1/docker/plex/config:/config
      - /volume1/data/media:/data/media
		devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

  tautulli:
    image: lscr.io/linuxserver/tautulli:latest
    container_name: tautulli
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
			- UMASK=000
    volumes:
      - /volume1/docker/tautulli/config:/config
    ports:
      - 8181:8181
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower:latest
    container_name: Watchtower
    environment:
      - TZ=America/Chicago
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_REVIVE_STOPPED=false
      - WATCHTOWER_SCHEDULE=0 0 2 * * *
    # Pass the Docker Socket to container to manage Docker in the NAS
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

