---
services:
  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
			- UMASK=000
    volumes:
      - /volume1/docker/overseerr/config:/config
    ports:
      - 5055:5055
    restart: unless-stopped
