services:
	  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
      - UMASK=000
    volumes:
      - /volume1/docker/sonarr/config:/config
      - /volume1/data/media/:/data/media			
      - /volume1/data/downloads:/data/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
