---
services:
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
			- UMASK=000
    volumes:
      - /volume1/docker/lidarr/config:/config
      - /volume1/data/media/music:/data/music
			- /volume1/data/downloads:/data/downloads
    ports:
      - 8686:8686
    restart: unless-stopped
