version: "3.9"

services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
      - UMASK=000
    volumes:
      - /opt/arr-stack/config/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped
    networks:
      - arr-net

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
      - UMASK=000
    volumes:
      - /opt/arr-stack/config/sonarr:/config
      - /data/media:/data/media
      - /data/downloads:/data/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
    depends_on:
      - prowlarr
    networks:
      - arr-net

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
      - UMASK=000
    volumes:
      - /opt/arr-stack/config/radarr:/config
      - /data/media:/data/media
      - /data/downloads:/data/downloads
    ports:
      - 7878:7878
    restart: unless-stopped
    depends_on:
      - prowlarr
    networks:
      - arr-net

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=1026
      - PGID=100
      - TZ=America/Chicago
      - UMASK=000
    volumes:
      - /opt/arr-stack/config/sabnzbd:/config
      - /data/downloads:/data/downloads
    ports:
      - 8080:8080
    restart: unless-stopped
    networks:
      - arr-net

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=info
      - TZ=America/Chicago
      - UMASK=000
      - PUID=1026
      - PGID=100
    volumes:
      - /opt/arr-stack/config/jellyseerr:/app/config
    ports:
      - 5055:5055
    restart: unless-stopped
    depends_on:
      - sonarr
      - radarr
    networks:
      - arr-net


  watchtower:
    container_name: watchtower
    image: containrrr/watchtower:latest
    environment:
      - TZ=America/Chicago
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_INCLUDE_STOPPED=true
      - WATCHTOWER_REVIVE_STOPPED=false
      - WATCHTOWER_SCHEDULE=0 0 2 * * *
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

networks:
  arr-net:
    driver: bridge
